body {
    background-color: #F4C7D9;
    margin: 0 15%;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 200;
}

.photo{
    text-align: center;
    top: 50px;
    left: 50px;
}

.submit{
    padding: 15px 60px;
    display: inline-block;
    text-align: center;
    border: none;
    margin: 20px 0;
    background-color: #FF4685;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    cursor: pointer;
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.submit:hover{
    cursor: pointer;
    transform: rotateX(360deg);
}

#GoToHomepage{
    text-align: center;
    display: inline-block;
    border: none;
    top: 50px;
    left: 50px;
    background-color: #65DEE3;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

#GoToNextPage{
    text-align: center;
    display: inline-block;
    border: none;
    top: 50px;
    left: 50px;
    background-color: #FD8B39;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

h1{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #FF4685;
    max-width: 60%;
    margin: 40px auto;
}

h2 {
    font: bold 114% Trebuchet MS, sans-serif;
    color: #FC72A2;
    font-size: 25px;

}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a pink background */
.container input:checked ~ .checkmark {
    background-color: #FF4685;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buzzfeedquiz{
    padding:0 30px 20px 30px;
    max-width:960px;
    margin:0 auto;

ul {
    list-style:none;
    padding:0;
    margin:0;
}
}

.quiz-question {
    font-weight: bold;
    display: block;
    padding:30px 0 10px 0;
    margin:0;
}

.quiz-answer {
    line-height: 200%;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;



&:before {
     content:"";
     display:inline-block;
     width:15px;
     height:15px;
     border:1px solid #F395C4;
     background:#fff;
     vertical-align:middle;
     margin-right:10px;
 }

&.active {
&:before {
     background-color:#333;
     border-color:#333;
 }
}
&.correct {
&:before {
     background-color:green;
     border-color:green;
 }
}
&.incorrect {
&:before {
     background-color:red;
     border-color:red;
 }
}
&.active.correct {
&:before {
     outline: 2px solid green;
     outline-offset: 2px;
 }
}
}
.quiz-result {
    max-width:960px;
    margin:0 auto;
    font-weight:bold;
    text-align:center;
    color: #fff;
    padding:20px;

&.good {
     background: green;
 }
&.mid {
     background: orange;
 }
&.bad {
     background: red;
 }
}

#quiz-results-message {
    display: block;
    color: #00403C;
    font-size: 20px;
    font-weight: bold;
}

#quiz-results-score {
    display: block;
    color: #31706c;
    font-size: 20px;
}

#quiz-results-score b {
    color: #00403C;
    font-weight: 600;
    font-size: 20px;
}

#quiz-retry-button {

    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: #9ACFCC;
    color: #00403C;
    font-size: 14px;
    cursor: pointer;
    outline: none;

}

.my-results {
    padding: 1rem;
    border: 1px solid goldenrod;
}